<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Bot</title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header"><h1>Stock Bot</h1></div>
      <div class="menu">Stock</div>
        <div class="row">
          <div class="list-group">
            <a href="/AFLT_info" class="list-group-item active">
              <h4 class="list-group-item-heading">AFLT</h4>
            </a>
          </div>
          <div class="list-group">
            <a href="/SBER_info" class="list-group-item active">
              <h4 class="list-group-item-heading">SBER</h4>
            </a>
          </div>
        </div>
      <div class="row">
          <div class="list-group">
            <a href="/MFON_info" class="list-group-item active">
              <h4 class="list-group-item-heading">MFON</h4>
            </a>
          </div>
          <div class="list-group">
            <a href="/GAZP_info" class="list-group-item active">
              <h4 class="list-group-item-heading">GAZP</h4>
            </a>
          </div>
      </div>
    </div>
  <div class="footer">Торговля на бирже связана с высокими рисками</div>
  </body>
</html>