html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
}
a {
  outline: none; /* Убираем границу вокруг ссылок  */
  display: block;  /* Ссылка как блочный элемент */
  text-decoration: none; /* Подчеркивание у ссылок убираем */
  font-size: 32px;
  color: black;
}
a:hover {
  font-size: 32px;
  color: red; /* Цвет текста активного пункта */
}
.container {
  padding-bottom: 30px;
}
.header {
  font-size: 10px;
  margin: 5px;
  border: 1px;
  padding: 5px;
}
.menu {
  font-size: 48px;
  margin: 20px;
  border: 1px;
  padding: 20px;
  text-align: center;
}
.list-group {
  margin: 10px;
  border: 1px;
  padding: 10px;
  text-align: center;
}
.row-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 100px);
  grid-gap: 20px;
}
.list-group-item-head {
font-size: 24px;
}
.list-group-item-heading {
font-size: 16px;
}
.list-group-item-text {
font-size: 16px;
}
.footer {
  font-size: 12px;
  margin: 5px;
  border: 1px;
  padding: 5px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
